doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    hr
    p
      | Go to 
      a(href='/euler') problem set
    p
      | The code for this website can be found at 
      a(href='http://github.com/achoi007/ProjectEulerPi', target='new') github
